$width_480: "screen and (min-width : 480px)";
$width_768: "screen and (min-width : 768px)";
$width_1024: "screen and (min-width : 1024px)";

@import 'register';
@import 'login';

.home{

	.header-logo{
		width: 50%;
		margin: 0 auto;
		max-width: 200px;
		
		img{
			width: 100%;
		}
	}

	.nav-menu{

		width: 100%;

		ul.nav-menu_action-list{

			background-color: #ffffff;
			list-style-type: none;
			margin: 15px auto;
			width: 90%;

			height: 0;
			transition: 1s;
			overflow:hidden;

			li{	
				padding: 15px;
				a{
					color: #000000;
					text-decoration: none;
					transition: 0.4s;
					cursor: pointer;
					font-size: 18px;
					font-family: arial;

					&:hover{
						transition: 0.1s;
						color: #dddddd;
					}
				}
			}
			
			&.displayTopDown{
				transition: 1s;
				height: 100px;
			}
		}
		
		.btn-container{
			background-color: #ffffff;
			width: 90%;
			margin: 0 auto;
			text-align: center;

			.small-btn-menu{
				cursor: pointer;
				background-color: #ffffff;
				text-align: center;
				border: none;
				display: block;
				width: 100%;

				img{
					width: 25px;
					padding: 5px 0;	
				}
			}
		}
	}
}

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media #{$width_768} {
	.home{
		
		header{
			display: flex;
			flex-direction: row;
			background-color: #ffffff;
			
			.header-logo{
				margin-left: 15px;
			}

			.nav-menu{

				width: auto;
				margin: 15px;

				ul.nav-menu_action-list{
					display: flex;
					flex-direction: row-reverse;
					width: auto;
					height: auto;
					background-color: #ffffff;
					
					li{	
					
						a{
							

							&:hover{
								color: #dddddd;
							}
						}
					}

					&.displayTopDown{
						transition: 1s;
						height: auto;
					}	
				}

				.btn-container{
					
					display: none;
				}
			}
		}	
	}
}

// @media #{$width_768} {
// 	body{
// 		background-color: green;
// 	}
// }

// @media #{$width_1024} {
// 	body{
// 		background-color: #dddddd;
// 	}
// }