$width_480: "screen and (min-width : 480px)";
.login-container{
	.login-form{

		background-color: #ffffff;
		width: 85%;
		margin: 15px auto;
		padding: 15px;
		max-width: 400px;

		h1{
			text-align: center;
		}

		.alert-success{
			max-width: 330px;
		}

		.form-login{
			padding: 15px;
			max-width: 330px;
			
			.div-message{
				max-width: 280px;
			}
			.data-field{
				margin-bottom: 15px;

				label{
					font-size: 18px;
					font-family: arial;
				}
				.input-message{
					font-size: 18px;
					font-family: arial;

					display: block;
					// transition:1s;
					border-radius: 4px;
					max-width: 280px;
				}

				input{
					font-size: 16px;
					font-family: arial;

					width: 100%;
					height: 40px;
					margin-top: 10px;
					max-width: 300px;
				}
			}
			.btn-actions{

				.btn-login{
					background-color: #337ab7;
					border: solid 1px #2e6da4;
					color: #ffffff;
					font-size: 16px;
					font-family: arial;
					padding:15px;
				}
			}
		}
	}
}

@media #{$width_480} {

	.login-container{

		.login-form{

			.form-login{

				margin:0 auto;
			}
		}
	}
}