@import 'home';
*{
	margin: 0px;
	padding:0px;
}
.btn-cancel{
	background-color: #dddddd;
	font-size: 16px;
	font-family: arial;
	padding:15px;
	border: solid 1px #bfbbbb;
}
.warning{
	// transition:2s;
	color: #a94442;
	background-color: #f2dede;
	border: solid 1px #ebccd1;
	margin: 10px 0;
	padding: 10px;
}
.success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	margin: 0 auto;
	padding: 10px;
}
.focus-message{
	font-size: 9px;
	font-family: arial;
	display: block;
	border-radius: 4px;
	max-width: 280px;
	padding: 10px;
	
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.goHome{
	padding:15px;
	margin: 15px 0;
	a{
		
		font-size: 18px;
		font-family: arial;
		padding: 15px;
		text-decoration: none;

		background-color: #ffffff;
		margin-left: 15px;
		color:#000000;
		cursor: pointer;
	}
}
body{
	background-color: #dddddd;
}