<div class="home">
	<header>
		<div class="header-logo">
			<img src="assets/images/logo.png" alt="">
		</div>
		
		<nav class="nav-menu">
			<ul class="nav-menu_action-list">
				
				{{#if user}}
					<li><a href="/logout">Logout</a></li>
				{{else}}
					<li><a href="/register">Register</a></li>
					<li><a href="/login">Login</a></li>
				{{/if}}
			</ul>
			
			<div class="btn-container">
				<button class="small-btn-menu">
					<img src="assets/images/hamburger.svg" alt="">
				</button>
			</div>
		</nav>
	</header>
</div>
