<div class="login-container">
	
	<div class="goHome">
		<a href="/">Home</a>
	</div>
	
	<div class="login-form">
		<h1>Login</h1>

		{{#if success_msg}}
			<div class="success alert-success">{{success_msg}}</div>
		{{/if}}		

		{{!-- <form action="/login" method="post" id="fileinfo" method="POST" class="form-login"> --}}
		<form enctype="multipart/form-data" id="fileinfo" method="POST" class="form-login">
			
			<div class="div-message"></div>
			<div class="data-field">
				<div>
					<label>Email</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="email" name="email" placeholder="email" minlength="12" maxlength="40" required="">
				</div>
			</div>
			<div class="data-field">
				<div>
					<label>Password</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="password" name="password" placeholder="password" required="">
				</div>
			</div>
			<div class="btn-actions">
				<button type="button" class="btn-cancel">Cancel</button>
				{{!-- <button type="submit" class="btn-login">Login</button> --}}
				<button type="button" class="btn-login">Login</button>
			</div>
		</form>
	</div>
</div>