<div class="register-container">
	
	<div class="goHome">
		<a href="/">home</a>
	</div>
	
	<div class="register-form">
		<h1>Register</h1>

		<form enctype="multipart/form-data" id="fileinfo" method="POST" class="form-register">
			<div class="data-field">
				<div>
					<label>Avatar</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field data-field_avatar" type="file" id="avatar" name="avatar" placeholder="avatar" accept="application/x-zip-compressed,image/*" required="">
				</div>
			</div>
			<div class="data-field">
				<div>
					<label>Name</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="text" name="name" placeholder="name" minlength="4" maxlength="20" required="">
				</div>
			</div>	
			<div class="data-field">
				<div>
					<label>Last Name</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="text" name="lastname" placeholder="last name" minlength="4" maxlength="20"required="">
				</div>
			</div>
			<div class="data-field">
				<div>
					<label>Email</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="email" name="email" placeholder="email" minlength="12" maxlength="40" required="">
				</div>
			</div>
			<div class="data-field">
				<div>
					<label>Password</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="password" name="password" placeholder="password" required="">
				</div>
			</div>
			<div class="data-field">
				<div>
					<label>Confirm Password</label>
				</div>
				<div>
					<span class="input-message"></span>
					<input class="field" type="password" name="confirm_password" placeholder="confirm password" required="">
				</div>
			</div>
			<div class="btn-actions">
				<button type="button" class="btn-cancel">Cancel</button>
				<button type="button" class="btn-register">Register</button>
			</div>
		</form>
	</div>
</div>